$parme: #c3b8da;
$bleu: #aac8e4;
$bleuCiel: #aae7fa;
$vert: #c5e4b8;
$jaune: #fcf8b1;
$orange: #fcd5ae;
$saumon: #f7afb0;
$gris: #666;
$petrol: #008080;

// NEW COLORS
$yuzu: #9c7b0a;
$vanille: #d8ad78;
$pavot: #51a7c8;
$menthe: #8cb073;
$chili: #b93437;

$boxShadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
